.contact_container{
    padding: 40px;
    width: 100%;
    /* overflow-x: hidden; */
}
.form{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 30px;
    /* min-width: 100%; */
    background-color: #01172f;
    border-radius: 20px 0 0 20px;

}
.form input{
    padding: 20px 20px;
    border: none;
    margin-bottom: 20px;
    color: #fff;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #00f6ed;
}
.form input::placeholder{
    color: #fff;
    font-weight: bold;
}
.form #employer, #gigs{
    width: 19px;
    height: 30px;
}
.form label{
    color: #fff;
    margin-left: 10px;
}
.radiocontainer{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    padding: 0;
    margin: 0;
}
.form .radiocontainer div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: red; */
    padding: 0;
    margin-left: 30px;
    padding: 30px 0;
    margin: 0;
}
.form .radiocontainer input{
    /* margin-left: 10px; */
    padding: 0;
    margin: 0;
}
.form .radiocontainer .emp{
    margin-right: 40px;
    margin-left: 20px;
}
.form .submit{
    width: 50%;
    margin-left: 25%;
    background-color: #00f6ed;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    color: #01172f;
}
.contact_container .flexme{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    /* margin-left: 5%; */
    /* position: relative; */
    padding: 40px;
}
.contact_container .flexme form{
    flex: 1;
    min-width: 100%;
}
.contact_container .flexme .right{
    flex: 1;
    min-width: 100%;
}
.contact_container p{
    width: 70%;
    margin-left: calc((100% - 70%)/2);
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}
.form h4{
    font-size: 25px;
    color: #00f6ed;
    text-align: center;
    text-transform: capitalize;
    /* border-bottom: 2px ridge #00f6ed; */
    padding-bottom: 20px;
    width: 50%;
    margin-left: 25%;
}
.contact_container .right .img{ 
    width: 100px;
    height: 200px;
    border-radius: 0 20px 20px 0;
    border: 2px solid #01172f;
    border-left: 2px solid #00f6ed;
    background-image: url(./map.jpeg);
    background-position: center;
    background-size: cover;
}
@media only screen and (max-width: 900px){
    .contact_container p{
        width: 90%;
        margin-left: 5%;
        text-align: left;
    }
    .contact_container .flexme{
        flex-direction: column;
        width: 120%;
        margin-left: -29px;
        align-items: flex-start;
 
        overflow: hidden;
        /* margin: 0; */
        padding: 10px;
        /* margin-left: 0; */
        /* background: red; */
        justify-content: left;
        /* width */
    }
    .contact_container .flexme form h4{
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
    .contact_container .flexme form{
        margin: 0;
        border-radius: 0;
    }
    .contact_container .flexme .right{
        display: none;
    }
}